DirectoryIndex index.cgi
AddHandler cgi-script .cgi

RewriteEngine on
RewriteBase /


# add trailing slash to subdirectory requests
RewriteRule ^([^./]+)$ $1/ [R=permanent,L]


<FilesMatch "^(.*\.css|favicon\.ico|[^./]+)$">
	Satisfy any
	Allow from all
</FilesMatch>

<Files data.yaml>
	Deny from all
</Files>
